{{ $all     := resources.Get "css/all.css"      | minify | fingerprint }}
{{ $screen  := resources.Get "css/screen.css"   | minify | fingerprint }}
{{ $print   := resources.Get "css/print.css"    | minify | fingerprint }}

<link rel="stylesheet" href="{{ $all.RelPermalink }}" integrity="{{ $all.Data.Integrity }}" >
<link rel="stylesheet" href="{{ $screen.RelPermalink }}" integrity="{{ $screen.Data.Integrity }}" media="screen" >
<link rel="stylesheet" href="{{ $print.RelPermalink }}" integrity="{{ $print.Data.Integrity }}" media="print" >
