<link rel="preload" href="/fonts/inter.woff2?20230624" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/inter-italic.woff2?20230624" as="font" type="font/woff2" crossorigin>

{{ $screen := resources.Get "css/screen.css" | minify | fingerprint }}
{{ $print := resources.Get "css/print.css" | minify | fingerprint }}

<link rel="stylesheet" href="{{ $screen.RelPermalink }}" media="screen">
<link rel="stylesheet" href="{{ $print.RelPermalink }}" media="print">

<meta name="theme-color" content="#123">
<meta name="color-scheme" content="dark light">