{{ $font := resources.Get "/images/FiraSans-Bold.ttf" }}

{{ $img := resources.Get "/images/opengraph.png"}}

{{ $img = $img.Filter (images.Text .Title (dict
    "font" $font
    "size" 48
    "color" "#FFF"
    "linespacing" 1.5
    "hinting" "full"
    "x" 100
    "y" 300
))}}

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="{{$img.Permalink}}"/>
<meta name="twitter:title" content="{{ .Title }}"/>

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{$img.Permalink}}" />