<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title | jsonify }}",
  "abstract": "{{ .Description | default .Summary | jsonify }}",
  "inLanguage": "fr",
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}",
  "isPartOf": {
    "@type": "WebSite",
    "@id": "https://nicolasfriedli.ch/#website"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  {{- with partial "_funcs/get-page-images" . }}
	{{- range . | first 1 }}
		"image": "{{ .Permalink }}",
	{{- end }}
  {{- end }}
  "author": {
    "@id": "https://nicolasfriedli.ch/#person"
  },
  "publisher": {
    "@id": "https://nicolasfriedli.ch/#organization"
  }
}
</script>