:root {
    --text: "Literata", ui-sans-serif, "Roboto", system-ui, sans-serif;
    --code: "JetBrains Mono", ui-monospace, "Hack", "Geist Mono", "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "Cascadia Code", monospace;
}

html {
    font-family: var(--text);
    font-synthesis: none;
    font-variant-numeric: oldstyle-nums proportional-nums;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    text-size-adjust: none;
}

code,
pre {
    font-family: var(--code);
    font-variant-ligatures: none;
}

code,
pre,
table {
    font-variant-numeric: lining-nums tabular-nums;
}

h1,
h2,
h3,
h4,
a {
    font-variant-numeric: lining-nums proportional-nums;
}

h1,
h2,
h3,
h4 {
    font-variant-ligatures: discretionary-ligatures;
    line-height: 1.1;
    text-wrap: balance;
    margin-block: 3rem 1rem
}

h1 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-block: 0 2rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
    font-weight: 900;
}

@font-face {
    font-family: "Literata";
    src: url("/fonts/literata.woff2") format("woff2");
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Literata";
    src: url("/fonts/literata-italic.woff2") format("woff2");
    font-weight: 200 900;
    font-style: italic;
    font-display: swap;
}