html {
    font-family: "Roboto", ui-sans-serif, "Inter", system-ui, sans-serif;
    line-height: 1.5;
    font-variant-ligatures: none;
}

code,
pre {
    font-family: "JetBrains Mono", ui-monospace, "Roboto Mono", "Hack", "Menlo", "Consolas", "Cascadia Code", monospace;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    text-wrap: balance;
}