:root {
    --sans-serif: "Geist", ui-sans-serif, "Roboto", system-ui, sans-serif;
    --monospace: "GeistMono", "JetBrains Mono", ui-monospace, "Hack", "Geist Mono", "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "Cascadia Code", monospace;
}

html {
    font-family: var(--sans-serif);
    font-synthesis: none;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

code,
pre {
    font-family: var(--monospace);
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    text-wrap: balance;
    margin-block: 2rem 1rem
}

h1 {
    font-size: 1.728rem;
    font-weight: 500;
    margin-block: 0 2rem;
}

h2 {
    font-size: 1.44em;
    font-weight: 600;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
    font-weight: 800;
}

@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/g.woff2) format("woff2");
}

@font-face {
    font-family: "Geist";
    font-style: italic;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/gi.woff2) format("woff2");
}

@font-face {
    font-family: "GeistMono";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/gm.woff2) format("woff2");
}

@font-face {
    font-family: "GeistMono";
    font-style: italic;
    font-weight: 100 900;
    font-display: optional;
    src: url(/fonts/gmi.woff2) format("woff2");
}