:root {
    --sans-serif: ui-sans-serif, "Roboto", system-ui, sans-serif;
    --titles: "Literata", var(--sans-serif);
    --monospace: "JetBrains Mono", ui-monospace, "Hack", "Geist Mono", "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "Cascadia Code", monospace;
}

html {
    font-family: var(--sans-serif);
    font-synthesis: none;
    font-variant-numeric: oldstyle-nums proportional-nums;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

code,
pre {
    font-family: var(--monospace);
    font-variant-ligatures: none;
}

code,
pre, 
table {
    font-variant-numeric: lining-nums tabular-nums;
}

h1,
h2,
h3,
h4 {
    font-family: var(--titles);
    font-weight: 400;
    line-height: 1.1;
    text-wrap: balance;
    margin-block: 2rem 1rem
}

h1 {
    font-size: 2.0736rem;
    margin-block: 0 2rem;
}

h2 {
    font-size: 1.728rem;
}

h3 {
    font-size: 1.44rem;
}

h4 {
    font-size: 1.2rem;
}

a {
    font-variant-numeric: lining-nums proportional-nums;
}

@font-face {
  font-display: optional; 
  font-family: "Literata";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/literata-v40-latin-regular.woff2") format("woff2"); 
}

@font-face {
  font-display: optional; 
  font-family: "Literata";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/literata-v40-latin-italic.woff2") format("woff2"); 
}