:root {
    --sans-serif: "Fira Sans", ui-sans-serif, "Roboto", system-ui, sans-serif;
    --monospace: "JetBrains Mono", ui-monospace, "Hack", "Geist Mono", "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "Cascadia Code", monospace;
}

html {
    font-family: var(--sans-serif);
    font-synthesis: none;
    font-variant-numeric: oldstyle-nums proportional-nums;
    text-rendering: optimizeLegibility;
}

code,
pre {
    font-family: var(--monospace);
    font-variant-ligatures: none;
}

code,
pre,
table {
    font-variant-numeric: lining-nums tabular-nums;
}

h1,
h2,
h3,
h4,
a {
    font-variant-numeric: lining-nums proportional-nums;

}