:root {
    --sans-serif: ui-sans-serif, "Roboto", system-ui, sans-serif;
    --monospace: "JetBrains Mono", ui-monospace, "Hack", "Geist Mono", "Roboto Mono", "Menlo", "Ubuntu Mono", "Consolas", "Cascadia Code", monospace;
}

html {
    font-family: var(--sans-serif);
    font-synthesis: none;
    font-variant-numeric: oldstyle-nums proportional-nums;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

code,
pre {
    font-family: var(--monospace);
    font-variant-ligatures: none;
}

code,
pre, 
table {
    font-variant-numeric: lining-nums tabular-nums;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    text-wrap: balance;
    margin-block: 2rem 1rem
}

h1 {
    font-size: 2.197rem;
    font-weight: 500;
    margin-block: 0 2rem;
}

h2 {
    font-size: 1.69rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1rem;
    font-weight: 800;
}

a {
    font-variant-numeric: lining-nums proportional-nums;
}