:root {
    --sans-serif: ui-sans-serif, "Roboto", "Arial", system-ui, sans-serif;
    --serif: ui-serif, "Literata", "Georgia", serif;
    --monospace: ui-monospace, "Roboto Mono", "Jetbrains Mono", "Cascadia Code", "Consolas", monospace;
}

html {
    font-family: var(--sans-serif);
    font-synthesis: none;
    font-variant-numeric: oldstyle-nums proportional-nums;
    text-rendering: optimizeLegibility;
}

code,
pre {
    font-family: var(--monospace);
    font-synthesis: initial;
    font-variant-ligatures: none;
}

code,
pre,
table {
    font-variant-numeric: lining-nums tabular-nums;
}

h1,
h2,
h3,
h4 {
    font-family: var(--serif);
}

a {
    font-variant-numeric: lining-nums proportional-nums;
}