html {
    font-family: ui-sans-serif, Roboto, system-ui, sans-serif;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

code,
pre {
    font-family: ui-monospace, "Roboto Mono", Menlo, Consolas, monospace;
    font-variant-numeric: lining-nums tabular-nums;
}

a, h1, h2, h3, h4 {
    font-variant-numeric: lining-nums proportional-nums;
}