:root {
    --sans: ui-sans-serif, Inter, Roboto, Arial, system-ui, sans-serif;
    --mono: ui-monospace, "Roboto Mono", "JetBrains Mono", Hack, Menlo, Consolas, monospace;
}

html {
    font-family: var(--sans);
}

code,
pre {
    font-family: var(--mono);
}