:root {
    --sans: Archivo, "Fira Sans", "Public Sans", Rubik, ui-sans-serif, Roboto, "Noto Sans", Arial, system-ui, sans-serif;
    --mono: "JetBrains Mono", ui-monospace, "Roboto Mono", "Noto Sans Mono", Menlo, Consolas, monospace;
    font-variant-ligatures: none;
}

html {
    font-family: var(--sans);
}

code,
pre {
    font-family: var(--mono);
}