@page {
    margin: 1cm;
}

html {
    font-size: 12px;
    line-height: 1.6;
}

header, footer, aside {
    display: none;
}

pre {
    white-space: pre-wrap;
}

a::after {
    content: " [" attr(href) "] ";
}