@page {
    margin: 2cm;
}

* {
    background-color: unset;
    color: #000;
}

header, footer {
    display: none;
}

pre {
    white-space: pre-wrap;
}

a::after {
    content: " [" attr(href) "] ";
}