:root {
    color-scheme: dark light;

    --txt:#036;
    --bg:#EEE;
    --bg2:#FFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --txt:#EEE;
        --bg:#024;
        --bg2:#036;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: clamp(1rem, 0.9375rem + 0.3125vw, 1.3125rem);
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    color: var(--txt);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 40rem;
    min-height: 100vh;
    min-height: 100dvh; /* pour Android et iOS */

}

body > * {
    padding: 1rem;
}

header, footer {
    font-size: .9rem;
}

footer {
    margin-block: auto 2rem;
}

a {
    color: inherit;
    text-decoration-thickness: .1rem;
    text-underline-offset: .1rem;
}

details {
    font-size: .9rem;
}

li {
    margin-block-start: .5rem;
}

dt {
    font-weight: 700;
}

dd {
    margin-inline-start: 1rem;
}

dd + dt {
    margin-block-start: .5rem;
}

form {
    margin-block: 1rem;
}

input {
    font-family: inherit;
    font-size: 1.44rem;
    padding: .4rem;
    width: 100%;
    border: .2rem solid;
}

blockquote {
    border-inline-start: .2rem solid;
    margin-inline-start: 0;
    padding-inline-start: 1rem;
}

code {
    background-color: var(--bg2);
    font-size: .9em;
}

pre {
    background: var(--txt);
    color: var(--bg);
    overflow: auto;
    padding: .5rem 1rem;
    margin-block-end: 2rem;
}

pre code {
    background: none;
    color: var(--bg);
    font-size: .85rem;
    padding: 0;
}

figure {
    inline-size: fit-content;
    margin-block: 1rem 2rem;    
    margin-inline: auto;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

figure.full,
.full img {
    width: 100%;
}

.pixelated img {
    image-rendering: pixelated;
}

figcaption {
    contain: inline-size;
    font-size: .9rem;
}

figcaption p {
    margin-block: .2rem;
}

hr {
    border: none;
    border-block-start: .2rem solid var(--txt);
    margin-block: 1rem 2rem;
}

/* classes */

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
    margin: 0;
}

.breadcrumb li::after {
    content: " > ";
}