:root {
    color-scheme: dark light;

    --bg: #FFF;
    --bg2: #DDD;
    --txt: #222;
    --txt2: #111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000;
        --bg2: #222;
        --txt: #EEE;
        --txt2: #DDD;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Généralités */

html {
    /* 320px - 16 -> 1280px - 20 */
    font-size: clamp(1rem, 0.9167rem + 0.4167vw, 1.25rem);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    color: var(--txt);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.5;
    margin-inline: auto;
    max-width: 40rem;
    min-height: 100vh;
    min-height: 100dvh;
    text-wrap: pretty;
}

/* Structure de la page */

body>* {
    padding: 1rem;
}

header + p {
    margin-block-start: 2rem;
}

footer {
    margin-block-start: auto;
}

/* Endroits de texte plus petit */

header,
footer,
nav,
details,
time,
pre code {
    font-size: .9rem;
}

/* Navigation */

header nav {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
}

/* Blocs dans la page */

code,
pre {
    background: var(--bg2);
}

code {
    font-size: .9em;
}

pre {
    overflow-x: auto;
    padding: .5rem 1rem;
}

pre code {
    font-size: .85rem;
}

blockquote, pre {
    margin-block: 1rem 2rem;
}

blockquote {
    font-weight: 500;
    margin-inline-start: 2rem;
}

blockquote strong {
    font-weight: 800;
}

details,
time {
    margin-block: 1rem 2rem;
}

details {
    background: var(--bg2);
    color: var(--txt2);
    padding: .5rem 1rem;
}

hr {
    border: 0;
    border-top: .2rem solid var(--bg2);
}

summary {
    font-weight: 500;
}

/* Titraille */

h1,
h2,
h3,
h4 {
    line-height: 1.1;
    margin-block: 2rem 1rem;
    text-wrap: balance;
}

h1 {
    font-size: 1.9rem;
    font-weight: 900;
    margin-block: 0 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

/* Liens */

a {
    color: inherit;
    text-decoration-thickness: .1em;
    text-underline-offset: .1em;
}

a[aria-current="page"] {
    text-decoration: none;
    pointer-events: none;
}

/* Listes */


dt {
    font-weight: 800;
}

li, 
dd + dt{
    margin-block-start: .5rem;
}

/* Classes diverses & ephémères */

.notice {
    border: .1rem solid var(--txt2);
    border-radius: .5rem;
    margin-block: 2rem;
    padding: .5rem 1rem;
}