:root {
    --light: #FFF;
    --dark: #222;
    --blue: #008;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 1.0625rem;
}

@media (orientation: portrait) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 60rem) {
    html {
        font-size: 1.125rem;
    }
}

@media (min-width: 90rem) {
    html {
        font-size: 1.1875rem;
    }
}

@media (min-width: 120rem) {
    html {
        font-size: 1.25rem;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--light);
    color: var(--dark);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 60rem;
    min-height: 100vh;
}

body > * {
    padding: 1rem;
}

main {
    max-width: 45rem;
}

header, footer {
    font-size: .9rem;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: .5rem 1rem;
    margin-block: auto 2rem;
}

a {
    color: var(--blue);
    text-decoration-thickness: .1rem;
    text-underline-offset: .1rem;
}

summary {
    color: var(--blue);
} 


li {
    margin-block-start: .5rem;
}

form {
    margin-block: 1rem;
}

input {
    font-family: inherit;
    font-size: 1.44rem;
    padding: .4rem;
    width: 100%;
    border: .2rem solid;
}

code {
    color: var(--blue);
    font-size: .9rem;
}

pre {
    background: var(--dark);
    color: var(--light);
    padding: .5rem 1rem;
}

pre code {
    background: none;
    color: var(--light);
    border: none;
    font-size: .85rem;
}

figure {
    margin-inline: 0;
}

img {
    height: auto;
    max-width: 100%;
}

/* ids et classes */


/* style par aria */

a[aria-current="page"] {
    text-decoration: none;
    color: var(--dark);
}