:root {
    --background: #FFF;
    --text: #123;
    --contrast: #F90;

    --font-main: Inter, Roboto, system-ui, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "Roboto Mono", "Noto Sans Mono", ui-monospace, Menlo, Consolas, monospace;

    /* @link https://utopia.fyi/type/calculator?c=640,16,1.2,1280,18,1.333,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --step--1: clamp(0.83rem, calc(0.82rem + 0.03vw), 0.84rem);
    --step-0: clamp(1.00rem, calc(0.88rem + 0.31vw), 1.13rem);
    --step-1: clamp(1.20rem, calc(0.90rem + 0.75vw), 1.50rem);
    --step-2: clamp(1.44rem, calc(0.88rem + 1.40vw), 2.00rem);
    --step-3: clamp(1.73rem, calc(0.79rem + 2.34vw), 2.66rem);  
}

@media (prefers-contrast: more) {
    :root {
        --background: #FFF;
        --text: #000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #123;
        --text: #CCC;
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        --background: #000;
        --text: #FFF;
    }
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-main);
    font-size: 100%;
    font-size: var(--step-0);
    line-height: 1.5;
}

body {
    padding: 1rem;
    margin: auto;
    max-width: 70ch;
}

main {
    min-height: 50vh;
}

header,
footer,
time {
    font-size: var(--step--1);
    font-weight: 500;
}

footer {
    border-top: 2px solid;
    margin-top: 4rem;
    padding-top: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

h1,
h2,
h3 {
    line-height: 1;
}

h1 {
    font-size: var(--step-3);
    font-weight: 600;
    margin-top: 4rem;
}

h2 {
    font-size: var(--step-2);
    margin-top: 3rem;
}

h3 {
    font-size: var(--step-1);
    font-weight: 800;
    margin-top: 2rem;
}

li {
    margin-top: .5rem;
}

p {
    hyphens: auto;
    -webkit-hyphens: auto;
    margin-top: 1rem;
}

a {
    color: inherit;
}

blockquote {
    border-left: .2rem solid var(--contrast);
    margin-left: 0;
    padding-left: 1rem;
}

pre,
code {
    background-color: var(--text);
    color: var(--background);
    font-family: var(--font-mono);
    font-size: .95rem;
}

pre {
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    overflow: auto;
}

pre code {
    font-size: .9rem;
}


dt {
    margin-top: 1rem;
    font-weight: 700;
}

dd {
    margin-left: 1rem;
}

@font-face {
    font-display: optional;
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    src: url("/fonts/inter.woff2");
}

@font-face {
    font-display: optional;
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    src: url("/fonts/inter-italic.woff2");
}