:root {
    --background: #FFF;
    --text: #123;

    --font-main: Inter, Roboto, system-ui, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-titling: Fraunces, var(--font-main);
    --font-mono: "Roboto Mono", "Noto Sans Mono", ui-monospace, Menlo, Consolas, monospace;
}

@media (prefers-contrast: more) {
    :root {
        --background: #FFF;
        --text: #000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #123;
        --text: #CCC;
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    :root {
        --background: #000;
        --text: #FFF;
    }
}

::selection {
    color: var(--background);
    background-color: var(--text);
}

html {
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font-main);
    font-size: 100%;
    font-size: clamp(1.00rem, calc(0.81rem + 0.47vw), 1.19rem);
    line-height: 1.5;
    text-rendering: optimizespeed;
}

body {
    padding: 1rem;
    margin: auto;
    max-width: 66ch;
}

main {
    min-height: 50vh;
}

header,
footer,
time {
    font-size: 90%;
}

footer {
    border-top: 2px solid;
    margin-top: 4rem;
    padding-top: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

h1,
h2,
h3 {
    font-family: var(--font-titling);
    line-height: 1.1;
}

h1 {
    font-size: 2.197rem;
    margin-top: 4rem;
}

h2 {
    font-size: 1.69rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1.3rem;
    margin-top: 2rem;
}

li {
    margin-top: .5rem;
}

p {
    hyphens: auto;
    -webkit-hyphens: auto;
    margin-top: 1rem;
}

a {
    color: inherit;
}

pre,
code {
    background-color: var(--text);
    color: var(--background);
    font-family: var(--font-mono);
    font-size: .95rem;
}

pre {
    padding: .5rem;
    overflow: auto;
}

pre code {
    font-size: .9rem;
}


dt {
    margin-top: 1rem;
    font-weight: 700;
}

dd {
    margin-left: 1rem;
}

@font-face {
    font-display: optional;
    font-family: Fraunces;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/fraunces.woff2");
}