:root {
    --light: #FFF;
    --light2: #DDE;
    --dark: #112;
    --dark2: #223;
    --blue: #008;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 1.0625rem;
}

@media (orientation: portrait) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 60rem) {
    html {
        font-size: 1.125rem;
    }
}

@media (min-width: 90rem) {
    html {
        font-size: 1.1875rem;
    }
}

@media (min-width: 120rem) {
    html {
        font-size: 1.25rem;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--light);
    color: var(--dark);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 60rem;
    min-height: 100vh;
    min-height: 100dvh; /* pour Android et iOS */

}

body > * {
    padding: 1rem;
}

main {
    max-width: 45rem;
}

header, footer {
    font-size: .9rem;
}

footer {
    margin-block: auto 2rem;
}

h1, h2, h3, h4 {
    color: var(--dark2);
}

a {
    color: var(--blue);
    text-decoration-thickness: .1rem;
    text-underline-offset: .1rem;
}

details {
    font-size: .9rem;
}

summary {
    color: var(--blue);
} 


li {
    margin-block-start: .5rem;
}

form {
    margin-block: 1rem;
}

input {
    font-family: inherit;
    font-size: 1.44rem;
    padding: .4rem;
    width: 100%;
    border: .2rem solid;
}

blockquote {
    border-inline-start: .2rem solid;
    margin-inline-start: 0;
    padding-inline-start: 1rem;
}

code {
    background-color: var(--light2);
    font-size: .9rem;
}

pre {
    background: var(--dark);
    color: var(--light);
    padding: .5rem 1rem;
    margin-block-end: 2rem;
}

pre code {
    background: none;
    color: var(--light);
    font-size: .85rem;
    padding: 0;
}

figure {
    margin-inline: 0;
}

img {
    height: auto;
    max-width: 100%;
}

hr {
    border: none;
    border-block-start: .2rem solid var(--dark2);
}

/* classes */

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
    margin: 0;
}

.breadcrumb li::after {
    content: " > ";
}