:root {
    color-scheme: dark light;

    --bg: hsl(312, 25%, 96%);
    --code: hsl(312, 25%, 90%);
    --txt: hsl(312, 25%, 20%);
    --a: hsl(312, 75%, 20%);
    --deco: hsl(312, 50%, 40%);
    --h: hsl(312, 100%, 20%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(312, 25%, 10%);
        --code: hsl(312, 25%, 20%);
        --txt: hsl(312, 25%, 98%);
        --a: hsl(312, 25%, 90%);
        --deco: hsl(312, 50%, 60%);
        --h: hsl(312, 100%, 90%);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: #0FF;
    color: #000;
}

::marker {
    color: var(--deco);
}

html {
    /* 320px - 16 -> 1280px - 21 */
    font-size: clamp(1rem, 0.8958rem + 0.5208vw, 1.3125rem);
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    color: var(--txt);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    margin: auto;
    max-width: 40rem;
    min-height: 100vh;
    min-height: 100dvh;
    /* pour Android et iOS */

}

body>* {
    padding: 1rem;
}

header,
footer,
aside {
    font-size: .9rem;
}

footer {
    margin-block: auto 2rem;
}

h1,
h2,
h3,
h4 {
    color: var(--h);
    line-height: 1.1;
    text-wrap: balance;
    margin-block: 2rem 1rem
}

h1 {
    font-size: 2.2rem;
    font-weight: 300;
    margin-block: 0 2rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 900;
}

a {
    text-decoration-thickness: .1rem;
    text-underline-offset: .1rem;
}

a,
summary {
    color: var(--a);
    text-decoration-color: var(--deco);
}

ol,
ul {
    padding-inline-start: 1rem;
}

li {
    margin-block-start: .5rem;
}

dt {
    font-weight: 700;
}

dd {
    margin-inline-start: 1rem;
}

dd+dt {
    margin-block-start: .5rem;
}

form {
    margin-block: 1rem;
}

input {
    color: var(--txt);
    border: .2rem solid var(--txt);
    font-family: inherit;
    font-size: 1.44rem;
    padding: .4rem;
    width: 100%;
}

input::placeholder {
    color: var(--txt)
}

blockquote {
    margin-inline-start: 1rem;
    font-weight: 500;
}

blockquote strong {
    font-weight: 800;
}

code {
    background: var(--code);
    font-size: .9em;
}

pre {
    background: var(--txt);
    color: var(--bg);
    overflow: auto;
    padding: .5rem 1rem;
    margin-block-end: 2rem;
}

pre code {
    background: none;
    color: var(--bg);
    font-size: .85rem;
    padding: 0;
}

figure {
    inline-size: fit-content;
    margin-block: 1rem 2rem;
    margin-inline: auto;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

figure.full,
.full img {
    width: 100%;
}

.pixelated img {
    image-rendering: pixelated;
}

figcaption {
    contain: inline-size;
    font-size: .9rem;
}

figcaption p {
    margin-block: .2rem;
}

hr {
    border: none;
    border-block-start: .2rem solid var(--deco);
    margin-block: 1rem 2rem;
}

/* classes */

.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    margin: 0;
}

.breadcrumb li::after {
    content: " > ";
}