html {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    color: #2D3748;
    background: #FFF;
    font-size: 100%;
    line-height: 1.5;
    font-variant-ligatures: common-ligatures;
    font-variant-numeric: oldstyle-nums proportional-nums;
}

@media screen and (min-width: 960px) {
    html {
        font-size: 110%;
    }
    }

@media screen and (min-width: 1200px) {
html {
    font-size: 125%;
}
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 22px;
    }
    }
    

body {
margin: 0;
padding: 2rem;
}

a {
    color: #234E52;
}

header {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    flex-wrap: wrap;
    font-size: .9rem;
}

main {
    max-width: 35em;
    margin: 5rem auto;
    min-height: 20rem;
}

footer {
    margin: 5rem 0 2rem 0;
    text-align: center;
    font-size: .9rem;
}

h1, h2, h3, h4, h5, h6 {
    font-variant-numeric: normal;
}

h1 {
    font-size: 1.4rem;
}

h2 { 
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

ul, li {
    list-style-type: square;
}

pre, code {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    color: #97266D;
}

table {
    font-variant-numeric: tabular-nums;
}

.meta {
    margin-top: 3rem;
    font-size: 90%;
}

img {
    max-width: 100%;
    display: block;
}

/* courier-prime-regular - latin */
@font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    src: local('Courier Prime Regular'), local('CourierPrime-Regular'),
         url('/fonts/courier-prime-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/courier-prime-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    text-rendering: optimizeLegibility;
  }
  
  /* courier-prime-italic - latin */
  @font-face {
    font-family: 'Courier Prime';
    font-style: italic;
    font-weight: 400;
    src: local('Courier Prime Italic'), local('CourierPrime-Italic'),
         url('/fonts/courier-prime-v1-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/courier-prime-v1-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    text-rendering: optimizeLegibility;
  }
  
  /* courier-prime-700 - latin */
  @font-face {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;
    src: local('Courier Prime Bold'), local('CourierPrime-Bold'),
         url('/fonts/courier-prime-v1-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/courier-prime-v1-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    text-rendering: optimizeLegibility;
  }
  
  /* courier-prime-700italic - latin */
  @font-face {
    font-family: 'Courier Prime';
    font-style: italic;
    font-weight: 700;
    src: local('Courier Prime Bold Italic'), local('CourierPrime-BoldItalic'),
         url('/fonts/courier-prime-v1-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/courier-prime-v1-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    text-rendering: optimizeLegibility;
  }
  