html {    
    background: #C9C1BA;
    color: #0000B1;
    font-family: 'Chivo', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    padding: 2rem;
    font-variant-numeric: oldstyle-nums proportional-nums;
    text-rendering: optimizeLegibility;
}

header, footer {
    font-size: 90%;
    margin: auto;
    max-width: 90ch;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
}

header h1 { font-size: inherit; margin-top: inherit; }

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li + li { 
    margin-left: 1rem;
}

header a {
    text-decoration: none;
}

main {
    margin: 5rem auto;
    max-width: 60ch;
}

a {
    color: #6B0025;
}

.articles a {
    font-weight: bold;
}

.articles li {
    display: flex;
    flex: 2fr 1fr;
    justify-content: space-between;
}

.articles li + li { 
    margin-top: .5rem;
}

h1 { font-size: 1.4375rem; }
h2 { font-size: 1.25rem; }
h3 { font-size: 1.125rem; }

ul, ul li {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

nav ul, nav li {
    list-style-type: none;
}

pre, code {
    font-family: 'Roboto Mono', monospace;

}
pre {
    padding: 1rem;
    overflow-x: auto;
}

table {
    font-variant-numeric: tabular-nums;
}

img {
    max-width: 100%;
    display: block;
}  

@media screen and ( min-width: 1000px ) {
    html {
        font-size: 120%;
    }
}

@media screen and ( min-width: 1500px ) {
    html {
        font-size: 140%;
    }
}