::selection {
    color: hsl(30, 40%, 98%);
    background: hsl(30, 80%, 20%);
}

html {
    font-family: 'Fira Sans', sans-serif;
    color: hsl(210, 30%, 30%);
    background: hsl(30, 40%, 98%);
    font-size: 100%;
    line-height: 1.5;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
}

@media screen and (min-width: 960px) {
    html {
        font-size: 110%;
    }
    }

@media screen and (min-width: 1200px) {
html {
    font-size: 120%;
}
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 22px;
    }
    }
    

body {
margin: 0;
padding: 2rem;
}

a {
    color: hsl(30, 80%, 20%);
}

header {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    flex-wrap: wrap;
    font-size: .9rem;
}

main {
    max-width: 35em;
    margin: 5rem auto;
    min-height: 20rem;
}

footer {
    margin: 5rem 0 2rem 0;
    text-align: center;
    font-size: .9rem;
}

h1 {
    font-size: 1.4rem;
}

h2 { 
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

ul, li {
    list-style-type: square;
}

pre, code {
    font-family: 'Fira Mono', monospace;
}

table {
    font-variant-numeric: tabular-nums;
}

.meta {
    margin-top: 3rem;
    font-size: 90%;
}

img {
    max-width: 100%;
    display: block;
}

/* fira-sans-regular - latin */
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
    src: url('/fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/fira-sans-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fira-sans-italic - latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
    src: url('/fonts/fira-sans-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/fira-sans-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fira-sans-700 - latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
    src: url('/fonts/fira-sans-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/fira-sans-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* fira-sans-700italic - latin */
  @font-face {
    font-family: 'Fira Sans';
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
    src: url('/fonts/fira-sans-v10-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/fira-sans-v10-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
 /* fira-mono-regular - latin */
@font-face {
    font-family: 'Fira Mono';
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
    src: url('../fonts/fira-mono-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/fira-mono-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  