<footer>
  <div class="wrapper">
  <div class="padding">
  <div class="flex">
    <div>
      Abonnement: <a href="{{ relURL "index.xml" }}">flux RSS</a>. 
      Commentaires: <a href="mailto:hello+2025@nicolasfriedli.ch">hello+2025@nicolasfriedli.ch</a>.
      Licence: Creative Commons BY-SA.
    </div>
    
    <button id="webfonts">Utiliser la police Inter</button>

      <script>
      document.getElementById("webfonts").addEventListener("click", function () {
          localStorage.setItem("font", "webfonts");
          document.documentElement.classList.add("webfonts");
      });
      </script>
  </div>
  </div>
  </div>
</footer>