<footer>
    <p>Abonnement par <a href="/index.xml">flux RSS</a>. Contenus sous licence libre <em>Creative Commons BY-SA</em>.</p>

    <button id="toggleButton">Charger Hanken Grotesk</button>

    <script>
        const toggleButton = document.getElementById("toggleButton");
        const htmlElement = document.documentElement;
        const storageKey = "webfontEnabled";
        if (localStorage.getItem(storageKey) === "true") {
            htmlElement.classList.add("webfont");
        }

        toggleButton.addEventListener("click", () => {
            htmlElement.classList.toggle("webfont");

            const isWebfontEnabled = htmlElement.classList.contains("webfont");
            localStorage.setItem(storageKey, isWebfontEnabled);
        });
    </script>

    <style>
        .webfont #toggleButton {
            display: none;
        }
    </style>
</footer>