<header>
    <div class="wrapper">
    <div class="padding">
    <div class="flex">

        {{ if .IsHome }}
        {{ site.Title }}
        {{ else }}
        <a href="/">{{ site.Title }}</a>
        {{ end }}

        <nav class="flex">
        {{ $current := .RelPermalink}}
        {{ range site.Menus.main }}
            {{ if eq .URL $current }}
                {{ .Name }}
            {{ else }}
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}
        </nav>
    </div>
    </div>
    </div>
</header>