<link rel="me" href="https://nicolasfriedli.ch/">
<link rel="me" href="https://www.frdl.ch/">
<link rel="me" href="https://mariage-protestant.ch/">
<link rel="me" href="https://spiritualites.ch/">
<link rel="me" href="https://theologique.ch/">
<link rel="me" href="https://exegese.ch/">
<link rel="me" href="https://frdl.ch/">
<link rel="me" href="https://www.facebook.com/nicolasfriedli.ch">
<link rel="me" href="maito:hello@nicolasfriedli.ch">
<script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "person",
      "name": "Nicolas Friedli",
      "jobTitle": "consultant web indépendant",
      "gender": "male",
      "url": "https://nicolasfriedli.ch/",
      "sameAs": [
         "https://www.frdl.ch/",
         "https://mariage-protestant.ch/",
         "https://spiritualites.ch/",
         "https://theologique.ch/",
         "https://exegese.ch/",
         "https://frdl.ch/",
         "https://www.facebook.com/nicolasfriedli.ch"
      ],
      "image": "https://nicolasfriedli.ch/img/nicolas-friedli.jpg",
      "address": {
         "@type": "PostalAddress",
         "streetAddress": "Rue du Château 3",
         "addressLocality": "Colombier",
         "addressRegion": "NE",
         "postalCode": "2013",
         "addressCountry": "Switzerland"
      },
      "email": "hello@nicolasfriedli.ch",
      "alumniOf": "Université de Neuchâtel",
      "telephone": "+41328414874"
    }
</script>