RewriteEngine On

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www. [NC]
RewriteRule (.*) https://nicolasfriedli.ch/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.nicolasfriedli.ch$ [NC]
RewriteRule ^(.*)$ https://nicolasfriedli.ch/$1 [R=301,L]

ErrorDocument 404 /404.html

Redirect 301 /feed.php /index.xml
Redirect 301 /feed/ /index.xml

<IfModule mod_headers.c>
Header always set Permissions-Policy "interest-cohort=()"
Header Set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
</IfModule>

<IfModule mod_mime.c>
AddType application/vnd.ms-fontobject    .eot
AddType application/x-font-opentype      .otf
AddType image/svg+xml                    .svg
AddType application/x-font-ttf           .ttf
AddType application/font-woff            .woff
AddType application/font-woff2           .woff2
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 week"

# Images
ExpiresByType image/jpeg    "access plus 1 year"
ExpiresByType image/gif     "access plus 1 year"
ExpiresByType image/png     "access plus 1 year"
ExpiresByType image/webp    "access plus 1 year"
ExpiresByType image/svg+xml "access plus 1 year"
ExpiresByType image/x-icon  "access plus 1 year"

# Video
ExpiresByType video/mp4     "access plus 1 year"
ExpiresByType video/mpeg    "access plus 1 year"

# CSS, JavaScript
ExpiresByType text/css                "access plus 6 month"
ExpiresByType text/javascript         "access plus 6 month"
ExpiresByType application/javascript  "access plus 6 month"

# Others
ExpiresByType application/pdf                 "access plus 6 month"
ExpiresByType application/x-shockwave-flash   "access plus 6 month"
ExpiresByType application/font-woff           "access plus 6 month"
ExpiresByType application/x-font-woff         "access plus 6 month"
ExpiresByType font/woff                       "access plus 6 month"
ExpiresByType application/font-woff2          "access plus 6 month"
</IfModule>

Header unset ETag
FileETag none

<files .htaccess>
order allow,deny
deny from all
</files>

Options -Indexes
