AddDefaultCharset UTF-8
DefaultLanguage fr-ch

RewriteEngine On

# Renvoi vers la version https et sans www y compris pour domaines synonymes
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^nicolasfriedli\.ch$ [NC]
RewriteRule ^(.*)$ https://nicolasfriedli.ch/$1 [R=301,L]

# Redirige les URL avec paramètres vers la même URL sans les paramètres
RewriteCond %{QUERY_STRING} !^$
RewriteRule ^(.*)$ /$1? [R=301,L]

# Si un dossier existe mais qu'il n'a pas d'index.html, afficher la 404
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME}/index.html !-f
RewriteRule ^.*$ /404.html [L]

# Gestion 404
ErrorDocument 404 /404.html
# Transparence des flux RSS
RewriteRule ^feed/?$ /index.xml [R=301,L]

# Pour servir des fichiers précompressés en statique
# https://drupal.stackexchange.com/questions/215639/how-to-modify-htaccess-to-serve-brotli-compressed-static-assets-over-gziped-one
# La méthode fonctionne mais demande une intervention après la compilation par Hugo

# https://securityheaders.com/
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS
Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "deny"
Header always set X-XSS-Protection "1;mode=block"
Header always set Referrer-Policy "no-referrer"
Header always set X-Permitted-Cross-Domain-Policies "none"
Header always set Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"

# headers pour le cache
Header unset Pragma
Header unset Last-Modified

# Cache général
<filesMatch ".(jpg|jpeg|png|gif|ico|svg|webp|avif)$">
Header set Cache-Control "max-age=2592000,public"
</filesMatch>

# Cache immutable pour CSS et fonts
<filesMatch ".(css|woff2)$">
Header set Cache-Control "max-age=63072000,immutable"
</filesMatch>